#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}

img {
    width : 37% ;
    border-radius : 4px ;
    padding : 10px ;
}

img :hover{
border-radius: 140px;
}

.column
{
    display: inline;
    padding: 10px;
}

/*#result1 {
 height : 70px;
 width : 70px;
}

#result2 {
    height :70px;
    width : 70px;
}

#result3 {
    height : 70px;
    width : 70px;
}*/

 
    



